<h1>Sorter#sort</h1>
<p>Find me in app/views/sorter/sort.html.erb</p>

<p id="error"><font color='red'><%= flash[:no_array] %></font></p>

<p id="error"><font color='red'><%= flash[:no_sorting_algorithm] %></font></p>

<%= form_tag("/result", method: "get") do %>
  <%= label_tag("Input Array (comma separated values only):") %>
  <%= text_field_tag(:list) %>

  <%= radio_button_tag 'sorting_algorithm', 'Merge Sort' %> <%= label_tag("Merge Sort") %>
  <%= radio_button_tag 'sorting_algorithm', 'Quick Sort'%> <%= label_tag("Quick Sort") %>
  <%= submit_tag("Sort!") %>
<% end %>
